<!-- This page will allow a user to create an account-->

<h1>Create an account and get one step closer to getting approved!\</h1>

<form asp-action="CreateAccountPost" method="post">
    <label>Name</label>
    <input type="text" />

    <label>Email</label>
    <input type="email" />

    <label>Organization</label>
    <input type="text" />

    <label>UserName</label>
    <input type="text" />

    <label>Password</label>
    <input type="password" />
</form>