<!--This page will be a login in page-->

@{
    ViewData["Title"] = "Login Page";
}

<h3>Login Researchers!</h3>

<form asp-action="LoginPost" method="post">
    <lable>UserName:</lable>
    <input type="text" />
    <lable>Password:</lable>
    <input type="password" />
</form>